<style>
/*LAYOUT*/

* {
  margin: 0;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background: #fff url(img/bg.png) repeat-y center center;
  margin:0;
  padding:0;
}

#maincontainer{
  background: url(img/bg_maincontainer.jpg) no-repeat 0% 0%;
  width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
  margin-bottom: 20px;
}

#header{
  height: 85px;
}

#contentwrapper{
  float: left;
  width: 100%;
}

#contentcolumn{
  margin: 0 360px 0 60px;
}

#rightcolumn{
  float: left;
  width: 340px;
  margin-left: -340px;
  margin-top: 30px;
}

/*IMAGE COLUMN*/

#imagecolumn { 
  float: left; 
  width: 100px;
}

#imagecolumn img { 
  margin-top: 10px;
}

/*RIGHT COLUMN TITLE*/

#rightcolumnTitle {
  width: 230px;
  margin: 15px 0 0 110px;
  font-size: 2.4em;
  color: #ffff66;
  text-align: center;
  line-height: 1.1em;
}

/*MENU*/

#menu {  
  color: #fff;
  margin: 20px 0 8px 120px;
}

#menu ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a, #menu li a:link, #menu li a:visited {
  display: block;
  width: 184px;
  background: url(img/arrowOFF.png) no-repeat 0% 3px;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 0 10px 26px;
}

#menu li a:hover {
  background: url(img/arrowON.png) no-repeat 0% 3px;
  color: #ffff66;
  text-decoration: none;
}

#footer, #push {
  height: 120px;
}

#footer {
  background: #fff url(img/bg_footer.png) no-repeat 0% 0%;
  clear: both;
  height: 90px;
  width: 945px;
  margin: 0 auto;
  padding: 28px 0 0 15px;
}

/*SITE STYLES*/

body {
  color: #666;
  font: normal 16px/1.3em arial, helvetica, sans-serif;
  word-spacing: 0.1em;
}

#header h1 {
  color: #329900;
  margin: 0;
  font-size: 1.7em;
  font-weight: normal;
  padding: 27px 0 0 38px;
  text-transform: uppercase;
}

#header span {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 2em;
  margin: 0 0 0 40px;
  text-transform: uppercase;
}

h1 {
  color: #666;
  margin: 0;
  font-size: 2.4em;
  font-weight: normal;
  padding: 16px 0 32px 10px;
  text-transform: uppercase;      
}

h2 {
  color: #329900;
  margin: 0;
  font-size: 1.7em;
  font-weight: normal;
  text-transform: uppercase;
}

h3, h4 {
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;  
}

#contentcolumn, #rightcolumn, #footer {
  font-size: 0.9em;
}

p { padding-bottom: 16px; }

#rightcolumn p {
  color: #fff;
  margin: 0 0 0 120px; 
}

#rightcolumn strong {
  color: #ffff66; 
}

a, a:link, a:visited {
  color: #cc0000;
}

a:hover {
  color: #999;
  text-decoration: none;
}

.blockquoteTitle {
  background: url(img/blockquote_title.gif) no-repeat 0% 0%;
  height: 30px;
}

.blockquoteTitle h4 {
  font-size: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0 0 13px;
}

blockquote {
  background: url(img/blockquote_bottom.png) no-repeat left bottom;
  border-left: 5px solid #329900;
  padding: 5px 10px;
  margin-bottom: 16px;
}

/*TABLE*/

#table { position: relative; font-size: 0.8em; line-height: 1.4em; margin: 0 0 10px 120px; padding: 0; width: 210px; }

#table li { list-style-type:none; font-weight: bold; float: left; padding: 5px; overflow: visible; border-bottom: 1px solid #339900; }

li.head1 { background-color: #666; color: #fff; font-weight: bold; width: 200px; }
li.head2 { background-color: #ccc; }
li.pos { background-color: #fff; width: 20px; text-align: center; }
li.team { background-color: #fff; width: 135px; }
li.pts { background-color: #fff; width: 25px; text-align: center; }
li.own { background-color: #d6ebcc; color: #666; }
/*
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0,0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 45%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;  
  top: 36%;
  max-width: 100%;
  padding: 16px;
  margin-left: -500px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.login_links{
  width: 930px;
  position: absolute;
   text-align: right;
}
.buttons{
  height: 44px;
  width: 50px;
  padding:0 0 0 0;
  border: none;
}

.buttons #button_en{
  margin-left: 36px;
}

.buttons #image {
  height: 44px;
  width: 50px;
}

</style>